.profile-page-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10%;
}

.profile-name {
    font-size: 1.7em;
}

.profile-person-id {
    margin-right: 1em;
}

.profile-sign-date {
    margin-right: 1em;
}
