.profile-page-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10%;
}

.profile-name {
    font-size: 1.7em;
}

.profile-person-id {
    margin-right: 1em;
}

.profile-sign-date {
    margin-right: 1em;
}

.profile-page-header-buttons {
    float: left;
    margin-left: 1em;
}

.profile-page-header-button {
    background: none;
    border: none;
    color: var(--color);
    text-decoration-color: var(--color);
    text-decoration-line: underline;
    text-decoration-thickness: 0.15em;
    cursor: pointer;
    transition: color 0.1s ease-out, text-decoration-color 0.1s ease-out;
}

.profile-page-header-edit-button {
    --color: gray;
}

.profile-page-header-edit-button:hover {
    --color: black;
}

.profile-page-header-save-draft-button {
    --color: gray;
}

.profile-page-header-save-draft-button:hover {
    --color: green;
}

.profile-page-header-discard-draft-button {
    --color: gray;
    margin-right: 0.5em;
}

.profile-page-header-discard-draft-button:hover {
    --color: red;
}
