.profile-date-field-input {
    text-align: center;
}

.profile-long-text-field textarea {
    resize: none;
    height: 5em;
}

.profile-toggle-field input {
    margin-left: 0.2em;
}

.profile-toggle-field label {
    margin-left: 0.5em;
}
