.home-page {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    width: auto;
    height: auto;
    align-items: center;
}

.home-page-clock {
    font-family: 'Montserrat';
    font-size: 7em;
    font-weight: bold;
}

.home-page-text {
    font-family: 'Varela Round';
    font-size: 1.5em;
    color: gray;
}

.home-page-hello-container {
    font-size: 1.7em;
    color: black;
}

.home-page-hello-name {
    margin-right: 0.4em;
    color: #343acc;
    font-weight: bolder;
}
