* {
    margin: 0;
    padding: 0;
}

html,
body,
#root,
.App,
.page-container {
    width: 100%;
    height: 100%;
    direction: rtl;
    overflow: hidden;
}

span,
textarea,
input {
    font-family: 'Montserrat';
    font-size: 1em;
}
